

<!-- adding styles -->
<link rel="stylesheet" href="/assets/css/signin_or_signup.css">

<!-- signup section -->
<section class="container forms">
  <!-- Signup Form -->
  <div class="form signup">
      <div class="form-content">
          <header>Signup</header>
          <form action="/create" method="POST">
              <div class="field input-field">
                  <input type="text" placeholder="Name" id="username" name="username" class="input form-control" required>
              </div>
              <div class="field input-field">
                  <input type="email" placeholder="Email" id="email" name="email" class="input form-control" required>
              </div>
              <div class="field input-field">
                  <input type="password" placeholder="Create password" id="password" name="password" class="password form-control">
              </div>
              <div class="field input-field">
                  <input type="password" placeholder="Confirm password" id="confirm_password" name="confirm_password" class="password form-control">
                  <i class='bx bx-hide eye-icon'></i>
              </div>
              <div class="field button-field">
                  <button type="submit">Signup</button>
              </div>
          </form>
          <div class="form-link">
              <span>Already have an account? <a href="/" class="link login-link">Login</a></span>
          </div>
      </div>
  </div>
</section>