.container {
    width: 65%;
    height: 50%;
  }

  h4 {
    color: rgb(10, 10, 10);
    font-size: 2.4rem;
  }

  .form_container{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }